/* the final look will definitely look completely different from this layout! */

body {
    font-family: 'Lato', Arial, sans-serif;
}



#main-container {
    display: flex;
    justify-content: space-evenly;
    padding: 4vw 0;
    min-width: 840px;
    background-color: antiquewhite;
}

#game-area {
    background-color: aquamarine;
    min-width: 538px;
    width: 63vw;
}

#sidebar {
    min-width: 269px;
    width: 31vw;
}


#sample {
    h1 {
        margin-bottom: 2rem;
    }

    section {
        margin-bottom: 2rem;
    }

    #mixer, #tray {
        text-align: left;
    }

    .height-1 {
        height: 100px;
    }

    .audio-icon {
        font-size: 3rem;
        display: inline;
        cursor: pointer;
    }

    .hide {
        display: none;
    }
}
