/* the final look will definitely look completely different from this layout! */

body {
    font-family: 'Lato', Arial, sans-serif;
}



#main-container {
    display: flex;
    justify-content: space-evenly;
    padding: 2vw 0;
    min-width: 840px;
    background-color: antiquewhite;
}

#main-box {
    background-color: aquamarine;
    min-width: 538px;
    padding-top: 15px;
    width: 63vw;
    text-align: left;
}

#sidebar {
    background-color: powderblue;
    min-width: 269px;
    width: 31vw;
}

#game-area {
    width: 100%;
    aspect-ratio: 1.442/1;
    margin-top: 20px;
    background-image: linear-gradient(#77C2FC 0%, #D5EEFF 40%);
}

#sea-bg {
    display: grid;
    background-image: url(../images/sea-bg.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#main-board {
    grid-area: 1/-1;
    align-self: end;
    z-index: 5;
    background-image: url(../images/board.svg);
    background-size: cover;
    height: 36%;
    margin: 0;
}

#drop-area {
    grid-area: 1/-1;
    justify-self: center;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-content: space-between;
    align-items: start;
    background-color: rgba(127, 255, 212, 0.323);
    width: 67%;
    height: 70%;
}

#drop-area > span {
    display: block;
    height: 42%;
    width: 30%;
    background-color: blue;
}

#drop-area > #main-dj-dz {
    height: 55%;
}

#sample {
    h1 {
        margin-bottom: 2rem;
    }

    section {
        margin-bottom: 2rem;
    }

    #mixer, #tray {
        text-align: left;
    }

    .height-1 {
        height: 100px;
    }

    .audio-icon {
        font-size: 3rem;
        display: inline;
        cursor: pointer;
    }

    .hide {
        display: none;
    }
}
